[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chromedriver-binary = "==87.0.4280.88"
selenium = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.9"
